nbstripout
kaggle
pyarrow
pandas
polars
numba
optuna
catboost
xgboost
lightgbm
category_encoders
matplotlib
opencv-python
pydicom
seaborn
torchvision
timm_3d
torchio
itk
skorch
spacecutter
open3d
ultralytics
metrics